<!DOCTYPE html>
<html>
 <head>
  <style>
   html, body {
    height: 100%;
   }
   .parent {
     width: 100%;
     height: 100%;
     display: table;
     text-align: center;
   }
   .parent > .child {
     display: table-cell;
     vertical-align: middle;
   }
   body {
    background: radial-gradient(#ff99cc 0%, #000000 100%);
   }
   p.a {
    font: 48px Courier, sans-serif;
   }
   p.b {
    font: 18px Courier, sans-serif;
   }
  </style>
  <title>correspondence rock paper scissors</title> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
 </head>
 <body>
  <section class="parent">
   <div class="child">
    <p><b>User already exists</p></b>
   </div>
  </section>
    </body>
</html>